
.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-content {
  flex: 1;
  display: flex;
  justify-content: center; 
  width: 100%;
  background-color: #090e16;
}
